@charset "UTF-8";
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

/* Container */
.container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Forms */
form {
    margin-bottom: 20px;
}

form .input-group,
form .row {
    margin-bottom: 10px;
}

/* Table */
.table {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table td a {
    margin: 0 5px;
}

/* 错误消息和成功消息 */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-info {
    background-color: #e9f7fd;
    color: #31708f;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Buttons */
.button-container {
    text-align: center;
    margin-top: 40px; 
}

.btn {
    border-radius: 5px;
    transition: all 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* .btn-secondary {
    background-color: #a6344f;
    border-color: #a6344f;
}*/

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Filters and Search Bar */
form .input-group input,
form .form-control,
form .form-select {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px 12px;
}

form .form-select {
    padding: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .btn {
        font-size: 12px;
    }

    form .row {
        flex-direction: column;
    }

    form .row .col-md-4 {
        margin-bottom: 10px;
    }
}
